body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgb(236, 231, 231);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.view-container {
    text-align: center;
    margin-top: 20px;
}

.view-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #011406;
    color: rgb(228, 151, 151);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-link:hover {
    background-color: #0cdd40ea;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #011406;
    color: rgb(228, 151, 151);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0cdd40ea;
}

#responseMessage {
    text-align: center;
    color: rgb(10, 221, 10);
    font-weight: bold;
}